body {

    background-image: url(img/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
.title{
    font-size: 5rem;
    margin-left: 3%;
    box-shadow: 0 0 40px rgb(255, 255, 255);
    text-shadow: 0 0 40px #fff;
}  
.contitle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    
}  
.reclutas{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    color: #fff;
    line-height:1;
    align-items: center;
    
    
}
#formulario{
    background-color: rgba(0, 0, 0, 0.515);
    padding: 8%;
}

input{
    width: 100px;
}
.btn{
    background-color: black;
    color: #fff;
    font-size: x-large;
    border-radius: 30%;
    border-color:#fff ;
    
    width: 100%;
}

.tabla, td, th {
    border: 3px solid #fff;
    border-collapse: collapse;
    color: #fff;
    margin-top: 10%;
    
}

.totaltabla{
        display: flex;
        justify-content: center;
    }