body {

    background-image: url(img/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
.reclutas{
    display: flex;
    flex-direction: column;
    width: 250px;
    color: #fff;
    line-height:0;
}