<div class="reclutas">
<form  id="formulario"  onsubmit="return false;">
    <h1>Reclutas</h1>
    Ingresa tu ID: <input id="id" name="Id" type="text"><br><br>
    Ingresa tu Nombre: <input id="nombre" name="nombre" type="text"><br><br>
    Ingresa tu edad:<input id="edad" name="edad" type="text"><br><br>
    Ingresa tu teléfono: <input id="telefono" name="teléfono" type="text"><br><br>
    Ingresa tu email: <input id="email" name="email" type="text"><br><br> 
    Ingresa tu dirección: <input id="direccion" name="dirección" type="text"><br><br>
    Ingresa tu fechaDeNacimiento: <input id="born" name="fechaDeNacimiento" type="text"><br><br>
    Ingresa tu numeroDeIdentificación: <input id="NumIdentificacion" name="numeroDeIdentificación" type="text"><br><br>
    Ingresa tu fechaDeIngresoAlPrograma: <input id="Ingreso" name="fechaDeIngresoAlPrograma"  type="text"><br><br>
    Ingresa tu id_team: <input id="id_team" name="id_team" type="text"><br><br>  
    <button id="btn_guardar" onclick="guardar()" class="btn">Guardar</button><br><br>   
    <input type="submit" data-accion="GET" value="Listar" class="botones">
    <input type="submit" data-accion="POST" value="xd"class="botones">
    <input type="submit" data-accion="PUT" value="Actualizar"class="botones">
    <input type="submit" data-accion="DELETE" value="Eliminar"class="botones">
    <input type="submit" data-accion="SEARCH" value="Buscar"class="botones">
</form>
</div>
