
<div class="totaltabla">
<table class="tabla">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>edad</th>
            <th>teléfono</th>
            <th>email</th>
            <th>dirección</th>
            <th>fechaDeNacimiento</th>
            <th>numeroDeIdentificación</th>
            <th>fechaDeIngresoAlPrograma</th>
            <th>id_team</th>
        </tr>
    </thead>
    <tbody id="tablita">

    </tbody>
</table>
</div>
<style>
    .tabla, td, th {
    border: 3px solid #fff;
    border-collapse: collapse;
    color: #fff;
    margin-top: 10%;
    
}
.totaltabla{
        display: flex;
        justify-content: center;
    }
</style>